:root {
  --red: #dc3445;
}
.navbar-ligth {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(59, 59, 59);
}
.navbar-ligth .nav-link:hover {
  color: var(--red);
  transition: color 1s;
}
.carousel-item {
  max-height: calc(100vh - 88px);
}
.carousel-item h1 {
  color: var(--red);
  text-shadow: 2px 2px 2px black;
}
.carousel-item p {
  color: white;
  font-weight: 500;
}
.carousel-item .buttons .btn {
  width: 7rem;
  margin-bottom: 2rem;
}
.carousel-indicators button {
  background-color: var(--red) !important;
  height: 0.3rem !important;
  width: 3rem !important;
  margin-right: 0.7rem !important;
}
.carousel-caption {
  position: absolute;
  bottom: 20vh;
}
/*! ------------------- 3- ABOUT SECTION ------------------------ */

/*! ------------------- 4- INSTRUCTORS ------------------------ */

/*! ------------------- 4- STUDENTS SECTION ------------------------ */
#students img {
  box-sizing: border-box;
  width: 70%;
}
/*! ------------------- 5- COURSES SECTION ------------------------ */
#courses .nav-link {
  color: white;
}
#courses .nav-link.active {
  background-color: var(--red);
}
/* #courses-button {
  position: relative;
}
#full-stack {
  display: flex;
}
#data-science {
  display: flex;
}
#devops {
  display: flex;
} */
/*! ------------------- 6- CONTACT SECTION ------------------------ */
#contact i {
  color: var(--red);
  font-size: 2rem;
}

/** ------------------- UP-BUTTON --------------------- */
.up-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  padding: 0.6rem;
  color: white;
  font-size: 1.3rem;
  transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.up-btn:hover {
  color: yellow;
}
/*! -------------------- 7- FOOTER ------------------------ */
footer {
  margin-top: 1rem;
}
footer i {
  font-size: 2rem;
  color: white;
  margin: 1rem;
  transition: color 1s;
}
footer i:hover {
  color: var(--red);
}
